.clients__title {
  color: $secondarytext-color;
  font-family: $main-font;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    color: $secondarytext-color;
    font-family: $main-font;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    color: $secondarytext-color;
    font-family: $main-font;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.clients {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    margin-top: 0;
  }
}

.client__item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  height: 90px;
  margin-left: 30px;
  margin-top: 30px;
  max-width: 210px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    max-width: 226px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 30px) / 6);
    margin-top: 0;
  }
}

.client__item:not(:first-child) {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.client__icon {
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;

  &:hover {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 2 * 30px) / 2);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  height: inherit;
  width: inherit;

  &:hover,
  &:focus .client__icon {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
