.logoblue {
  color: $accent-color;
  font-family: $accent-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logo {
  color: $secondarytext-color;
  font-family: $accent-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
