// @media screen and (min-width: 1200px) {

.main__title {
  max-width: 360px;
  margin: 0 auto;
  font-family: $main-font;
  color: $white-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    margin: 0 auto;
    font-family: $main-font;
    color: $white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.main {
  min-width: 480px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/studio/hero-bg.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-color: $backgroundfootertitle-color;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    background-image: url(../images/mobile/studio/hero-bg@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main {
    min-width: 768px;
    min-height: 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/studio/hero-bg.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    background-image: url(../images/tablet/studio/hero-bg@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .main {
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/studio/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $backgroundfootertitle-color;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    background-image: url(../images/desktop/studio/hero-bg@2x.jpg);
  }
}

.main__button {
  @extend %button;

  transition-property: background-color, color, box-shadow;
  transition-timing-function: $transition-fuction;
  transition-duration: $transition-duration;

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
}
