.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $backgroundbuttons-color;
}

.team__title {
  @extend %section-title;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 0;
  margin-right: 0;
}

.team__item {
  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% / 4 - 30px);
}

.team__list .team__item:not(:last-child) {
  margin-right: 30px;
}

.team-meta {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  align-content: center;
}

.team__subtitle {
  color: $secondarytext-color;
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  margin-left: 0px;
  margin-right: 0px;
}

.team__text {
  color: $maintext-color;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 16px;
}

.team__list {
  @extend %list-style;
}
