$accent-color: #2196f3;
$secondarytext-color: #212121;
$white-color: #ffffff;
$maintext-color: #757575;
$backgroundheader-color: #ffffff;
$backgroundfootertitle-color: #2f303a;
$backgroundbuttons-color: #f5f4fa;
$backgroundmain-color: #ffffff;

$main-font: "Roboto", sans-serif;
$accent-font: "Raleway", sans-serif;

$section-width: 1200px;

$transition-fuction: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
